$dark: #554640;
$light: #cde6f5;
$wood: #664e4c;
$leaf: #c1d37f;
$cursive_font: "Lobster", cursive;
$font_normal: "Antonio", sans-serif;
$text_font: "Noto Sans JP", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

/*===================================
            Mixins Area
=====================================*/
@mixin tablet {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin input-normal($fontSize) {
  font-size: $fontSize;
  padding: 0.5em 1em;
  border: {
    width: 1px;
    style: solid;
    color: $dark;
    radius: 0.5em;
  }
  outline: transparent;
}

/*===================================
        <end> Mixins Area <end>
=====================================*/

body {
  font-size: 10px;
}

nav {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $light;

  .logo {
    text-decoration: none;
    letter-spacing: 1px;
    margin-left: 1rem;
    color: $dark;
    font-size: 1.4rem;
    font-family: "Lobster", cursive;
  }

  .toggle {
    height: 2rem;
    width: 2rem;
    border: 2px solid $dark;
    border-radius: 6px;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.2rem;
    cursor: pointer;
    .bar {
      position: relative;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $dark;
      transition: 1s ease;
      &::before {
        content: "";
        position: absolute;
        @extend .bar;
        transform: translateY(-10px);
      }
      &::after {
        content: "";
        position: absolute;
        @extend .bar;
        transform: translateY(10px);
      }
    }
  }

  ul {
    width: 100%;
    height: 0;
    position: fixed;
    top: 3rem;
    left: 0;
    margin: 0;
    background-color: $light;
    overflow: hidden;
    transition: 1s ease;
  }

  .active {
    ul {
      height: 6rem;
    }

    .bar {
      transform: rotate(360deg);
      background-color: transparent;
      &::after {
        background-color: $dark;
        transform: rotate(-45deg);
      }
      &::before {
        background-color: $dark;
        transform: rotate(45deg);
      }
    }
  }
}

.grid-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 5%;
  .item {
    border: 1px solid $wood;
    border-radius: 10px;
    margin: 0.5rem auto;
    overflow: hidden;
    &__title {
      position: relative;
      background-color: $wood;
      height: 1.4rem;
      h2 {
        position: absolute;
        right: 0;
        width: max-content;
        margin: 0;
        background-color: white;
        font-size: 1.4rem;
        padding: 0 0.5rem;
        font-family: $cursive_font;
      }
    }

    &__body {
      display: flex;
      .preview {
        width: 50%;
        padding: 8% 5%;

        h3 {
          font-size: 2.8rem;
          line-height: 1.4rem;
          margin: 0;
          font-family: $cursive_font;
          span {
            font-size: 1.4rem;
            font-family: $font_normal;
          }
        }

        p {
          font: {
            size: 1.4rem;
            family: $font_normal;
          }
          color: $leaf;
        }
        img {
          width: 100%;
        }
      }

      .details {
        width: 50%;
        padding: 5% 3%;
        p {
          letter-spacing: 2px;
          text-align: justify;
          font: {
            size: 0.6rem;
            family: $text_font;
          }
        }
      }
    }

    &__footer {
      padding: 0.5rem 1rem;
      display: flex;
      justify-content: flex-end;
      button {
        background-color: $leaf;
        padding: 0.5em 1em;
        font-size: 1rem;
        border-radius: 5px;
        color: $dark;
        text-decoration: none;
        border: none;
        cursor: pointer;
      }
    }
  }
}

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba($color: $dark, $alpha: 0.7);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .content {
    width: 60%;
    background-color: $light;
    padding: 1rem 2rem;
    border-radius: 5px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: 1rem;
    }

    span {
      font-size: 2rem;
      cursor: pointer;
    }
  }

  &__body {
    width: 90%;
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        width: 90%;
        margin: 0.5em auto;
        @include input-normal(0.8rem);
      }
      button[type="submit"] {
        background-color: $wood;
        color: $leaf;
        padding: 0.5em 1em;
        border-radius: 0.5em;
        font-size: 1rem;
      }
    }
  }
}

.hidden {
  display: none;
}

/*===================================
            Media Queries Area
=====================================*/
.grid-container {
  @include laptop() {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}

/*===================================
        <end> Mixins Area <end>
=====================================*/
